{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}

{% block content %}
  <div class="jumbotron">
	  <h1 class="display-3">Inventory Made Easy</h1>
	  <p class="lead">Inventory control is important for maintaining the right balance of stock in your office and warehouses. A proper inventory control gives you a deeper understanding of customer demand for your products and helps you to plan and purchase accordingly. Get your inventory on track with Simple Inventory Tracking today.</p>
	  
	    <a href="{% url 'social:begin' 'google-oauth2' %}"><div id="loginGoogle"></div></a>
	  
	</div>
{% endblock %}
