{% extends 'base.html' %}

{% block title %}Add/Edit Category{% endblock %}

{% block content %}

<div class="container">
	{% if category_id %}
	<h1 class="h1_spacing">Edit Category</h1>
	<form enctype="multipart/form-data" action="{% url 'get_category' category_id %}" method="post">
	{% else %}
	<h1 class="h1_spacing">Add Category</h1>
	<form enctype="multipart/form-data" action="{% url 'get_category' %}" method="post">
	{% endif %}
	
	    {% csrf_token %}
	    {{ form }}
	    <input type="submit" value="Save">
	</form>
</div>
{% endblock %}