{% extends 'base.html' %}

{% block title %}Simple Inventory Tracking{% endblock %}

{% block content %}
	{% if user.is_authenticated %}
		<div class="container">
			<h1 class="h1_spacing">Categories</h1>
			<a href="{% url 'get_category' %}" class="btn btn-outline-primary btn_spacing">Add Category</a>


			{% if all_categories %}
			<div class="container">
		  		<div class="row">
					{% for category in all_categories %}
						<div class="col-md-4">
							
							<figure class="figure">
							  <a href="{% url 'view_category' category.id %}"><img src="{{ category.icon.url }}" class="img-responsive img-thumbnail" alt="icon for {{ category.name }}" width="300" height="300"></a>
							  <p class="description"><a href="{% url 'view_category' category.id %}">{{ category.name }}</a></p>
							  <p class="edit_delete_icons"><a class="fa fa-pencil" href="{% url 'get_category' category.id %}"> Edit</a>&nbsp;&nbsp;&nbsp;&nbsp;<a class="fa fa-close confirm-delete" href="{% url 'delete_category' category.id %}"> Delete</a></p>
							</figure>

					    </div>
						
					{% endfor %}
				</div>
			</div>
			{% endif %}
		</div>
	{% else %}
      <a class="btn btn-primary mybtn" href="{% url 'login' %}">Log In</a>
    {% endif %}
{% endblock %}
