{% extends 'base.html' %}

{% block title %}Simple Inventory Tracking{% endblock %}

{% block content %}

<div class="container">
	<h1>Categories</h1>

	<a href="{% url 'get_category' %}" class="btn btn-outline-primary">Add Category</a>


	{% if all_categories %}
	<div class="container">
  		<div class="row">
			{% for category in all_categories %}
				<div class="col-sm">
					
					<figure class="figure">
					  <a href="{% url 'view_category' category.id %}"><img src="{{ category.icon.url }}" class="figure-img img-fluid rounded" alt="icon for {{ category.name }}" width="300" height="300"></a>
					  <h4><a href="{% url 'view_category' category.id %}">{{ category.name }}</a> <a class="fa fa-pencil" href="{% url 'get_category' category.id %}"></a> <a class="fa fa-close" href="{% url 'delete_category' category.id %}" onclick="function() { var isValid = confirm('Are you sure ?');if (!isValid) { event.preventDefault();  alert("It wont delete. Yay!");"></a></h4>
					</figure>

			    </div>
				
			{% endfor %}
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}
