.striker {
	text-decoration: line-through;
}

.h1_spacing {
	margin-top: 30px;
	margin-bottom: 30px;
}

.btn_spacing {
	margin-bottom: 30px;
}

.description {
	color: black;
	font-size: 2em;
	margin-top: 10px;
}

.quantity {
	color: #232323;
	font-size: 1.5em;
}

.edit_delete_icons {
	margin-bottom: 40px;
}

.mybtn {
	margin-left: 30px;
}

#userLoginName {
	margin-bottom: 0;
}

div#loginGoogle {
   background-image: url('/static/images/btn_google_signin_dark_normal_web.png');
   height: 46px;
   width: 191px;
}

div#loginGoogle:hover {
   background-image: url('/static/images/btn_google_signin_dark_pressed_web.png');
}

.lead {
	margin-top: 20px;
	margin-bottom: 20px;
}